:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 70px 0;

    .content {
        max-width: 940px;
        margin: 0 auto;

        img {
            margin-bottom: 24px;
        }

        ::ng-deep {
            code[class*="language-"],
            pre[class*="language-"] {
                font-size: 0.95em;
            }

            blockquote {
                overflow: auto;
            }

            pre {
                &::-webkit-scrollbar {
                    width: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    background: rgba(255, 255, 255, 0.4);
                    border-radius: 4px;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: rgba(255, 255, 255, 0.7);
                }

                &::-webkit-scrollbar-track {
                    background: rgba(255, 255, 255, 0.2);
                    border-radius: 4px;
                }
            }

            section {
                margin-top: 40px;
            }
        }
    }
}
